<div id="change-password" class="content-section active">
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Change Password</h5>
      <p class="card-text">
        Update your account password to keep your account secure.
      </p>
      <div class="pass-errors-div">
        <ul class="pass-errors-list"></ul>
      </div>
      <form
        id="changePasswordForm"
        action="/arcms/api/v1/auth/change-password"
        method="POST"
      >
        <div class="form-group">
          <label for="currentPassword" class="form-label"
            >Current Password</label
          >
          <input
            type="password"
            class="form-control"
            id="currentPassword"
            name="currentPassword"
            placeholder="Enter your current password"
            minlength="8"
            maxlength="64"
            required
          />
        </div>

        <div class="form-group">
          <label for="newPassword" class="form-label"
            >New Password
            <span class="tooltip-change-pass"
              >i
              <div class="tooltip-text">
                • Must be atleast 8 characters long<br />
                • Must contain at least 1 uppercase letter, 1 lowercase letter,
                1 digit, and 1 special character<br />
                • Passwords must match
              </div>
            </span></label
          >

          <input
            type="password"
            class="form-control"
            id="newPassword"
            name="newPassword"
            placeholder="Enter your new password"
            minlength="8"
            maxlength="64"
            required
          />
        </div>

        <div class="form-group">
          <label for="confirmPassword" class="form-label"
            >Confirm New Password</label
          >
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Re-enter your new password"
            minlength="8"
            maxlength="64"
            required
          />
        </div>

        <div class="d-flex justify-content-end gap-2">
          <button
            type="button"
            class="btn btn-outline"
            onclick="resetChangePasswordForm()"
          >
            Clear Fields
          </button>
          <button type="submit" class="btn btn-custom" id="savePassword">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
