<div id="schedule" class="content-section card">
    <h2 style="color:#9b3838">Schedule</h2>

    <div class="d-flex justify-content-between align-items-center mt-4">
        <h3>Consultation Hours</h3>
        <button class="btn btn-primary btn-edit" id="editConsultationHours">Edit</button>
    </div>
    <div id="consultation-hours" class="mt-3">
        <!-- Consultation hours with location will be dynamically added here -->
    </div>

    <div class="d-none justify-content-between align-items-center">
        <h3>Consultation Types</h3>
        <button class="btn btn-primary btn-edit" id="editConsultationTypes">Edit</button>
    </div>
    <div id="consultation-types" class="mt-3" style = "display: none;">
        <div class="row mb-2">
            <div class="col-4"><input type="text" placeholder="Consultation type" class="form-control" id="type-0-consultation" disabled></div>
            <div class="col-8"><input type="text" placeholder="Description" class="form-control" id="type-0-description" disabled></div>
        </div>
        <div class="row mb-2">
            <div class="col-4"><input type="text" placeholder="Consultation type" class="form-control" id="type-1-consultation" disabled></div>
            <div class="col-8"><input type="text" placeholder="Description" class="form-control" id="type-1-description" disabled></div>
        </div>
        <div class="row mb-2">
            <div class="col-4"><input type="text" placeholder="Consultation type" class="form-control" id="type-2-consultation" disabled></div>
            <div class="col-8"><input type="text" placeholder="Description" class="form-control" id="type-2-description" disabled></div>
        </div>
    </div>

</div>
