.bcards-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bcard-section-content {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#canvas {
  margin: auto;
  border: 1px solid red;
}
#theText {
  width: 10em;
}

.text-options {
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
}

.text-options {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.text-options label {
  margin-bottom: 0.5rem;
  display: block;
  font-weight: bold;
  color: #333;
}

.text-options input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.text-options input[type="color"] {
  height: 40px;
  width: 100%;
  padding: 3px;
  border: none;
  cursor: pointer;
}

.text-options button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #9b3838;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.text-options button:hover {
  background: linear-gradient(180deg, #9b3838 0%, #6b1f1f 100%);
}

.context-menu {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 5px;
  display: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.context-menu button {
  display: block;
  width: 100%;
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  text-align: left;
}

.draw-text-btn,
#download-bcard {
  margin-bottom: 15px;
  padding: 10px;
  background: #9b3838;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

#theText {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.context-menu button:hover {
  background: #f0f0f0;
}

#bcard-bg {
  display: none;
}

#bcard-bg:hover {
  background-color: #c38bd6;
}

#bcard-bg:focus {
  outline: none;
  border-color: #9b6ba7;
  box-shadow: 0 0 5px rgba(155, 107, 167, 0.8);
}

.bcard-bg-label {
  display: block;
  margin-bottom: 5px;
}

.bcard-bg-label {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 10px;
}
.bcard-bg-label:hover {
  background-color: #8f7501;
}

#delete-text-btn {
  margin-bottom: 15px;
  padding: 10px;
  background: #9b3838;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

#save-bg-btn {
  margin-bottom: 15px;
  padding: 10px;
  background: #bb5a5a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  display: none;
}

#generate-bcard-btn {
  margin-bottom: 15px;
  padding: 10px;
  background: #9b3838;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.default-content-btns {
  margin-bottom: 15px;
  padding: 10px;
  background: #9b3838;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

#generate-card-btn:hover {
  background: linear-gradient(180deg, #9b3838 0%, #6b1f1f 100%);
}
