.markers-section {
  margin-top: 0;
}
.markers-list {
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 20px;
  height: 650px;
  margin-bottom: 20px;
  overflow-y: scroll;
}

.image-target-div {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
}

.image-target {
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  background: #9b3838;
  display: flex;
  flex-direction: column;
}
.target-img {
  width: 100%;
  flex-grow: 1;
}
.target-name,
.create-name {
  color: white !important;
  text-align: center;
}

.marker-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.42);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  /* display: flex; */
  display: none;
  z-index: 2;
}

.create-marker-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.42);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  /* display: flex; */
  display: none;
  z-index: 2;
}

.marker-info-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.42);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  /* display: flex; */
  display: none;
  z-index: 3;
}

.delete-warning-div {
  background: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.marker-info-container {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  animation: slideIn 0.3s ease;

}

.create-marker-container {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.selected-marker-div {
  height: 100%;
  width: 1200px;
  display: grid;
  grid-template-columns: 1.5fr 0.8fr;
  gap: 10px;
}

.create-marker-div {
  height: 100%;
  width: 1200px;
  display: grid;
  grid-template-columns: 1.5fr 0.8fr;
  gap: 10px;
}

.selected-marker-img {
  width: 100%;
  height: 100%;
}

.create-marker-img {
  width: 100%;
  height: 100%;
}

.selected-marker-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
  padding-inline: 30px;
  color: white;
  background: #9b3838;
}

.create-marker-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
  padding-inline: 30px;
  color: white;
  background: #9b3838;
}

.target-input-label,
.create-input-label,
.create-input-div,
.target-input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.target-input,
.create-input {
  padding: 5px;
  width: 100%;
}

.edit-target-info {
  grid-column: 1 / -1; /* Spans the entire row */
  width: 100%; /* Ensures it takes full width */
}

.close-marker-overlay {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.close-create-marker {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.target-rating-display {
  text-align: center;
}

.target-change-label {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 10px;
}
.target-change-label:hover {
  background-color: #8f7501;
}

.create-target-label {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  flex-direction: center;
  background-color: var(--secondary-color);
  grid-column: 1 / -1;
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  grid-column: 1 / -1;
  text-align: center;
}

.add-target-btn {
  display: inline-block;
  padding: 15px 15px;
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  grid-column: 1 / -1;
  text-align: center;
  border: none;
}

.edit-target-info {
  background: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.save-create-target {
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  grid-column: 1 / -1;
}

.delete-warning-btn {
  border-radius: 5px;
  border: none;
  padding: 10px;
  padding-inline: 30px;
  border: 1px solid black;
  cursor: pointer;
}

.delete-bcard-options {
  display: flex;
  gap: 10px;
}

#yes-delete-btn {
  background: #9b3838;
  color: white;
}

#no-delete-btn {
  background: white;
}

.delete-image-target {
  background: rgb(228, 143, 143);
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  grid-column: 1 / -1;
}

#save-bg-btn {
}

@media (orientation: portrait) {
  .image-target-div {
    grid-template-columns: auto;
  }
}
