<section id="bcards-section" class="bcards-section">
  <h2>Business Card Design</h2>
  <div id="canvas-div">
    <canvas id="bcard-canvas">
      <input type="text" placeholder="Full Name" value="BROTHER" />
    </canvas>
  </div>
</section>
