<section id="markers-section" class="markers-section">
  <h2>About LPU-C</h2>
  <div>
    <h3>List of registered Business Cards</h3>
    <div class=""></div>
  </div>
  <!-- <div class="no-data-found">
                <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/placeholder.svg?height=200&width=200" alt="No data illustration">
                <p>No Data Found!</p>
            </div> -->
  <input type="file" id="upload" accept="image/*" />

  <div class="canvasDiv">
    <canvas id="histoEqCanvas"></canvas>
  </div>

  <form
    id="uploadForm"
    action="../upload/businessCard"
    enctype="multipart/form-data"
    method="post"
  >
    <label for="name">Marker Name</label>
    <input type="text" name="name" id="marker-name" placeholder="Marker Name" />
    <label for="marker-id">Employee ID</label>
    <input type="number" id="marker-id" />
    <button id="submitBCard" type="submit" disabled>Submit</button>
  </form>
</section>
