<section id="markers-section" class="markers-section">
  <!-- Overlay for creating/adding business card targets -->

  <div class="create-marker-overlay">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="30px"
      viewBox="0 -960 960 960"
      width="30px"
      fill="#e3e3e3"
      class="close-create-marker"
    >
      <path
        d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
      />
    </svg>

    <div class="create-marker-container">
      <div class="create-marker-div">
        <img
          class="create-marker-img"
          src="/images/image_upload_placeholder.jpg"
        />
        <div class="create-marker-info">
          <!-- Name -->
          <div class="create-input-label">
            <label for="create-name">Name</label>
          </div>
          <div class="create-input-div">
            <input
              type="text"
              id="create-name"
              class="create-input"
              name="create-name"
              placeholder="Name"
            />
          </div>

          <!-- width -->
          <div class="create-input-label">
            <label for="create-width">Width</label>
          </div>
          <div class="create-input-div">
            <input
              type="number"
              id="create-width"
              class="create-input"
              name="create-width"
              value="6"
            />
          </div>

          <!-- active flag -->
          <div class="create-input-label">
            <label for="create-active">Active</label>
          </div>
          <div class="create-input-div">
            <input
              type="checkbox"
              id="create-active"
              class="create-input"
              name="create-active"
              checked="true"
            />
          </div>

          <!-- metadata -->
          <div class="create-input-label">
            <p>Metadata</p>
          </div>
          <div class="create-input-div">
            <select
              id="create-metadata"
              class="create-input"
              name="create-metadata"
            >
              <!-- The value will be the id of the users -->
            </select>
          </div>

          <input
            type="file"
            id="create-target-upload"
            accept=".jpg, .jpeg, .png"
          />
          <label for="create-target-upload" class="create-target-label">
            <i class="fas fa-cloud-upload-alt"></i> Add Image
          </label>
          <button class="save-create-target">Add Target</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Overlay for editing business card targets -->
  <div class="marker-overlay">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="30px"
      viewBox="0 -960 960 960"
      width="30px"
      fill="#e3e3e3"
      class="close-marker-overlay"
    >
      <path
        d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
      />
    </svg>
    <div class="marker-info-container">
      <div class="marker-info-overlay">
        <div class="delete-warning-div">
          <p>Are you sure you want to delete this business card?</p>
          <div class="delete-bcard-options">
            <button id="yes-delete-btn" class="delete-warning-btn">Yes</button>
            <button id="no-delete-btn" class="delete-warning-btn">No</button>
          </div>
        </div>
      </div>

      <div class="selected-marker-div">
        <img
          class="selected-marker-img"
          src="/images/image_upload_placeholder.jpg"
        />
        <div class="selected-marker-info">
          <!-- Name -->
          <div class="target-input-label">
            <label for="target-name">Name</label>
          </div>
          <div class="target-input-div">
            <input
              type="text"
              id="target-name"
              class="target-input"
              name="target-name"
              placeholder="Name"
              disabled
            />
          </div>

          <!-- width -->
          <div class="target-input-label">
            <label for="target-width">Width</label>
          </div>
          <div class="target-input-div">
            <input
              type="number"
              id="target-width"
              class="target-input"
              name="target-width"
              disabled
            />
          </div>

          <!-- active flag -->
          <div class="target-input-label">
            <label for="target-active">Active</label>
          </div>
          <div class="target-input-div">
            <input
              type="checkbox"
              id="target-active"
              class="target-input"
              name="target-active"
              disabled
            />
          </div>

          <!-- Date Created -->
          <div class="target-input-label">
            <label for="target-date-created">Date Created</label>
          </div>
          <div class="target-input-div">
            <p id="target-date-created" class="target-rating-display">0</p>
          </div>
          <!-- Date Modified -->
          <div class="target-input-label">
            <label for="target-date-modified">Date Modified</label>
          </div>
          <div class="target-input-div">
            <p id="target-date-modified" class="target-rating-display">0</p>
          </div>

          <!-- Rating -->
          <div class="target-input-label">
            <label for="target-rating">Rating</label>
          </div>
          <div class="target-input-div">
            <p id="target-rating" class="target-rating-display">0</p>
          </div>

          <!-- Recognition -->
          <div class="target-input-label">
            <label for="target-recognition">Recognition</label>
          </div>
          <div class="target-input-div">
            <p id="target-recognition" class="target-rating-display">0</p>
          </div>

          <!-- metadata -->
          <div class="target-input-label">
            <p>Metadata</p>
          </div>
          <div class="target-input-div">
            <select
              id="target-metadata"
              class="target-input"
              name="target-metadata"
              disabled
            >
              <!-- The value will be the id of the users -->
            </select>
          </div>
          <input
            type="file"
            id="new-target-upload"
            accept=".jpg, .jpeg, .png"
            disabled
          />
          <label
            for="new-target-upload"
            class="target-change-label"
            style="display: none"
          >
            <i class="fas fa-cloud-upload-alt"></i> Change Target Image
          </label>
          <button class="edit-target-info" style="display: none">Edit</button>
          <button class="delete-image-target" style="display: none">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  <h2 class="section-title">Business Card Markers</h2>
  <div class="markers-list">
    <h3>List of registered Business Cards</h3>
    <div class="image-target-div"></div>
    <!-- <div class="no-data-found">
      <img
        src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/placeholder.svg?height=200&width=200"
        alt="No data illustration"
      />
      <p>No Data Found!</p>
    </div> -->
  </div>
  <button class="add-target-btn">
    <i class="fas fa-cloud-upload-alt"></i> Add Business Card
  </button>
</section>
